# System files
.DS_Store
**/.DS_Store

# Model files
src/modeling/models/*.pkl
src/modeling/models/*.h5
src/modeling/models/*.pt
src/modeling/models/*.pth
src/modeling/models/*.joblib
src/modeling/models/*.model

# Keep only essential tables
tables/*
!tables/RQ1_Table1.xlsx
!tables/RQ3_Table1.xlsx
