# System files
.DS_Store
**/.DS_Store

# Model files
models/*.pkl
models/*.h5
models/*.pt
models/*.pth
models/*.joblib
models/*.model

# Keep only essential tables
tables/*
!tables/RQ1_Table1.xlsx
!tables/RQ3_Table1.xlsx
